<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Website</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
        <form>
            <div>
                <h3>Login<h3>
                        <div>
                            <input type="text" id="loginID" class="inp_field" placeholder=" Login ID"><br>
                        </div>
                        <div>
                            <input type="text" id="Password" class="inp_field" placeholder=" Password"><br>
                        </div>
                        <button type="submit" class="submit_btn">Submit</button>
            </div>
        </form>

        <a href="form.html">Go to the form page.</a>
        



</body>

</html>